body {
  font-family: "Poppins";
  background: rgba(52, 99, 87, 0.9);
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 92px;
  line-height: 1.2;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 80px 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  letter-spacing: 5px;
}

header {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../img/madeira_mountains.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 280px 0px;
}

header a {
  color: #272044;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  background: #fff;
  padding: 16px 32px;
}

footer {
  background-image: linear-gradient(
      rgba(52, 99, 87, 0.9),
      rgba(52, 99, 87, 0.9)
    ),
    url("../img/madeira_footer.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 100px 140px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

footer a {
  color: #fff;
  opacity: 0.6;
}

.about-madeira {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px;
}

.about-madeira img {
  max-width: 300px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

@media (max-width: 800px) {
  header {
    padding: 120px 0;
  }

  h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
    margin: 0 0 40px 0;
  }

  header h3 {
    font-size: 12px;
    font-weight: 700;
  }

  header a {
    font-size: 12px;
    padding: 8px 16px;
  }

  .about-madeira {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
